openapi: "3.0.0"
info:
  version: "1"
  title: "yt-dvr"
  description: "API for yt-dvr."
paths:
  /settings:
    get:
      operationId: "getSettings"
      description: "Gets the settings for the server."
      parameters: []
      responses:
        200:
          description: "The current server settings."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settings"
    put:
      operationId: "setSettings"
      description: "Sets the settings for the server."
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Settings"
      responses:
        200:
          description: "The new settings for the server."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settings"
        400:
          description: "If the request is malformed."
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Error"
  /channels:
    get:
      operationId: "getChannels"
      description: "Returns the currently registered channels."
      parameters: []
      responses:
        200:
          description: "A list of active channels."
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Channel"
    post:
      operationId: "addChannel"
      description: "Adds a new channel."
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Channel"
      responses:
        201:
          description: "The new channel contents."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
        400:
          description: "If the request is malformed."
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Error"
  /channels/{channel}:
    get:
      operationId: "getChannel"
      description: "Returns info about a channel."
      parameters:
        - in: "path"
          name: "channel"
          required: true
          schema:
            type: "string"
      responses:
        200:
          description: "The channel info."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
        404:
          description: "If the channel isn't known."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: "updateChannel"
      description: "Updates a channel's info."
      parameters:
        - in: "path"
          name: "channel"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Channel"
      responses:
        200:
          description: "The new channel info."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
        400:
          description: "If the request is malformed."
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Error"
        404:
          description: "If the channel isn't known."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: "deleteChannel"
      description: "Deletes a channel. Recordings remain accessible."
      parameters:
        - in: "path"
          name: "channel"
          required: true
          schema:
            type: "string"
      responses:
        204:
          description: "If the channel was deleted successfully."
        404:
          description: "If the channel did not exist."
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Error"
  /channels/{channel}/{timestamp}:
    get:
      operationId: "getRecording"
      description: "Returns info about a recording."
      parameters:
        - in: "path"
          name: "channel"
          required: true
          schema:
            type: "string"
        - in: "path"
          name: "timestamp"
          required: true
          schema:
            type: "integer"
      responses:
        200:
          description: "The recording info."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recording"
        400:
          description: "If the request is malformed."
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Error"
        404:
          description: "If the recording does not exist."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: "deleteRecording"
      description: "Deletes a recording from disk."
      parameters:
        - in: "path"
          name: "channel"
          required: true
          schema:
            type: "string"
        - in: "path"
          name: "timestamp"
          required: true
          schema:
            type: "integer"
      responses:
        204:
          description: "If the recording was deleted successfully."
        404:
          description: "If the recording did not exist."
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Error"
components:
  securitySchemes: {}
  schemas:
    Retention:
      properties:
        count:
          nullable: true
          type: "integer"
        time:
          nullable: true
          type: "integer"
        size:
          nullable: true
          type: "integer"
    Settings:
      properties:
        saveDir:
          nullable: false
          type: "string"
        serverPort:
          nullable: false
          type: "integer"
        defaultRetention:
          nullable: false
          $ref: "#/components/schemas/Retention"
        globalRetention:
          nullable: false
          $ref: "#/components/schemas/Retention"
        pollInterval:
          nullable: false
          type: "integer"
        remuxRecordings:
          nullable: false
          type: "boolean"
        remuxFormat:
          nullable: false
          type: "string"
        logLevel:
          nullable: false
          type: "string"
    Channel:
      properties:
        url:
          nullable: false
          type: "string"
        platform:
          nullable: true
          type: "string"
        retention:
          nullable: true
          $ref: "#/components/schemas/Retention"
        quality:
          nullable: true
          type: "string"
        getChat:
          nullable: false
          type: "boolean"
        ytdlParams:
          nullable: true
          type: "object"
    Error:
      properties:
        error:
          nullable: false
          type: "string"
    Recording:
      properties:
        platform:
          nullable: false
          type: "string"
        channel:
          nullable: false
          type: "string"
        title:
          nullable: false
          type: "string"
        timestamp:
          nullable: false
          type: "integer"
        original_url:
          nullable: false
          type: "string"
        path:
          nullable: false
          type: "string"
        chat_path:
          nullable: true
          type: "string"
        in_progress:
          nullable: false
          type: "boolean"
